<div class="color-background-1 gradient no-js-hidden">
    <product-recommendations
        class="product-recommendations page-width section-template--15760318890189__product-recommendations-padding isolate product-recommendations--loaded"
        data-url="/recommendations/products?section_id=template--15760318890189__product-recommendations&amp;product_id=7216633905357&amp;limit=18">
        <h2 class="product-recommendations__heading h2 main-heading">You may also like</h2>
        <ul class="grid product-grid grid--6-col-desktop grid--2-col-tablet-down related-products1" role="list">
        </ul>
    </product-recommendations>
</div>

<script>

  function buildBlock(product) {
    const html = `
      <li class="grid__item" samitapbl-element="handle" p-handle="thepinkmoon_maroon-floral-maxi-dress_302394">
                <link
                    href="//cdn.shopify.com/s/files/1/0626/9321/2365/t/6/assets/component-rating.css?v=24573085263941240431680763773"
                    rel="stylesheet" type="text/css" media="all">
                <link
                    href="//cdn.shopify.com/s/files/1/0626/9321/2365/t/6/assets/custom-section.css?v=13440855343630445691685703869"
                    rel="stylesheet" type="text/css" media="all">
                <div data-imp="{}" class="card-wrapper product-card-wrapper underline-links-hover">
                    <div class="card card--standard card--media" style="--ratio-percent: 125.0%;">
                        <div class="card__inner color-background-1 gradient ratio" style="--ratio-percent: 125.0%;">
                            <div class="card__media">
                                <div class="media media--transparent media--hover-effect">

                                    <img srcset="${product?.images[0]?.src}?v=1684576256&amp;width=165 165w,${product?.images[0]?.src}?v=1684576256&amp;width=360 360w,${product?.images[0]?.src}?v=1684576256&amp;width=533 533w,${product?.images[0]?.src}?v=1684576256&amp;width=720 720w,${product?.images[0]?.src}?v=1684576256 768w
                  " src="${product?.images[0]?.src}?v=1684576256&amp;width=533"
                                        sizes="(min-width: 1500px) 342px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                        alt="${product?.title}" class="motion-reduce" loading="lazy" width="768"
                                        height="1024">

                                </div>
                            </div>
                            <div class="card__content">
                                <div class="card__information">
                                    <h3 class="card__heading">
                                        <a href="/products/thepinkmoon_maroon-floral-maxi-dress_302394?pr_prod_strat=collection_fallback&amp;pr_rec_id=e8f307d6a&amp;pr_rec_pid=7217015357645&amp;pr_ref_pid=7216633905357&amp;pr_seq=uniform"
                                            id="StandardCardNoMediaLink--7217015357645" class="full-unstyled-link"
                                            aria-labelledby="StandardCardNoMediaLink--7217015357645 NoMediaStandardBadge--7217015357645"
                                            data-samitapbl-handle="thepinkmoon_maroon-floral-maxi-dress_302394">
                                            ${product?.title}
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card__badge bottom left" style="align-self:unset; margin-top:8px"><span
                                id="NoMediaStandardBadge--7217015357645"
                                class="badge badge--bottom-left color-accent-2">Sale</span></div>
                        <div class="card__content">
                            <div class="card__information">
                                <div class="card-information"><span class="visually-hidden">Vendor:</span>
                                    <div class="caption-with-letter-spacing light">The Pink Moon</div>
                                    <h3 class="card__heading h5" id="title--7217015357645">
                                        <a href="/products/thepinkmoon_maroon-floral-maxi-dress_302394?pr_prod_strat=collection_fallback&amp;pr_rec_id=e8f307d6a&amp;pr_rec_pid=7217015357645&amp;pr_ref_pid=7216633905357&amp;pr_seq=uniform"
                                            id="CardLink--7217015357645" class="full-unstyled-link"
                                            aria-labelledby="CardLink--7217015357645 Badge--7217015357645"
                                            data-samitapbl-handle="thepinkmoon_maroon-floral-maxi-dress_302394">
                                            ${product?.title}
                                        </a>
                                    </h3>
                                    <span class="caption-large light"></span>
                                    <div class="price  price--on-sale ">
                                        <div class="price__container">
                                            <div class="price__regular">
                                                <span class="visually-hidden visually-hidden--inline">Regular
                                                    price</span>
                                                <span class="price-item price-item--regular">
                                                    ₹ 1,844
                                                </span>
                                            </div>
                                            <div class="price__sale">
                                                <span class="visually-hidden visually-hidden--inline">Regular
                                                    price</span>
                                                <span>
                                                    <s class="price-item price-item--regular">

                                                        ₹ 3,499

                                                    </s>
                                                </span><span class="visually-hidden visually-hidden--inline">Sale
                                                    price</span>
                                                <span class="price-item price-item--sale price-item--last">
                                                    ₹ 1,844
                                                </span>


                                                <span class="price-item price-item--sale price-item--last disc-percent">
                                                    47% off
                                                </span>
                                            </div>
                                            <small class="unit-price caption hidden">
                                                <span class="visually-hidden">Unit price</span>
                                                <span class="price-item price-item--last">
                                                    <span></span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">&nbsp;per&nbsp;</span>
                                                    <span>
                                                    </span>
                                                </span>
                                            </small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card__badge bottom left"><span id="Badge--7217015357645"
                                    class="badge badge--bottom-left color-accent-2">Sale</span></div>
                        </div>
                    </div>
                </div>
            </li>`;
    return html;
  }

  function getData() {
    const productName = document?.getElementsByClassName("h1")[0]?.textContent?.trim() || '';
    const currentURL = window.location.href;
    fetch(`https://downtown-shop-discover.myshopify.com/theme-data-status/?currentURL=${currentURL}`)
      .then(res => res.json())
      .then(themeValueStatus => { 
        console.log("themeValueStatus",themeValueStatus.themeValueStatus)
        console.log("themeValueStatus.themeValueStatus == true",themeValueStatus.themeValueStatus == true)
        var relatedText = document.getElementsByClassName('main-heading');
        relatedText[0].style.display = 'none'; 
        if(themeValueStatus.themeValueStatus == 'true') {
            fetch(`https://downtown-shop-discover.myshopify.com/related-product/?productName=${encodeURIComponent(productName)}&currentURL=${currentURL}`)
              .then(response => response.json())
              .then(products => {
                products && products.forEach(product => {
                const html = buildBlock(product);
                document.querySelector('.related-products1').innerHTML += html;
                relatedText[0].style.display = 'flex'; 
            });
          });
        }
      });
  }
getData();
</script>

<style>
  .main-heading {
    display: none;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 600;

  }

  .related-products1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
  }

  .related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 30px;
  }

  .related-product img {
    max-width: 100%;
    margin-bottom: 10px;
    height: 155px;
  }

  .related-product h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .related-product span {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .related-product form {
    display: flex;
    align-items: center;
  }

  .related-product button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
</style>

{% schema %}
{
  "name": "Recommendation",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}